<!-- MENU PRINCIPAL -->
<div class="container mt-5">
  <div class="container">
      <div class="row mt-5">
        <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
          <a
          routerLink="/f-aereo"
          routerLinkActive="router-link-active"
          class=" card text-white bg-primary  border-0  shadow-sm">
            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>AEREO</h4>
              <p></p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
          <a
          routerLink="/f-maritimofcl"
          routerLinkActive="router-link-active"
          class=" card text-white bg-secondary border-0
          card-snippets shadow-sm">
            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>MARITIMO</h4>
              <p>(FCL)</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-8 mx-auto">
          <a
          routerLink="/f-maritimolcl"
          routerLinkActive="router-link-active"
          class=" card text-white bg-warning border-0 card-guides shadow-sm">

            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>MARITIMO</h4>
              <p>(LCL)</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
          <a     class=" card text-white bg-gray border-0  shadow-sm">
            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>TERRESTRE*</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
          <a  class=" card text-white bg-gray border-0 card-snippets shadow-sm">
            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>PROYECTOS*</h4>
              <p></p>
            </div>
          </a>
        </div>

        <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 mx-auto">
          <a
          routerLink="/tarifario"
          routerLinkActive="router-link-active"
          class=" card text-white bg-danger border-0 card-snippets shadow-sm">
            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>MENU</h4>
              <p>PRINCIPAL</p>
            </div>
          </a>
        </div>


      </div>
    </div>
</div>


