@import url(https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css);

.direct-chat-text { white-space: pre-wrap; }
/*.my-datepicker {
    width: 0px;
    height: 0px;
    position: relative;
    left: 170px;
    border: none;
}*/
#comment-box {

}
#my-scroll-comments {
    height: auto !important;
    position: absolute !important;
    width: 100% !important;
    bottom: 0px !important;
    padding: 0px 50px;
    max-height: 100% !important;
}