<!-- <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> -->


<!-- MENU PRINCIPAL -->
<div class="container mt-5">
  <div class="container">
      <div class="row mt-5">
        <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 ">
          <a
          routerLink="/flete"
          [routerLinkActive]="['router-link-active']"
          class=" card text-white bg-primary  border-0  shadow-sm">
            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>FLETE</h4>
              <p>INTERNACIONAL</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-8 mb-5 mb-lg-0 ">


          <a
          routerLink="/gastos"
          [routerLinkActive]="['router-link-active']"
          class=" card text-white bg-secondary border-0
          card-snippets shadow-sm"  >

            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>GASTOS LOCALES</h4>
              <p>PROVEEDORES / AGENTES</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-8">
          <a
          routerLink="/transporte"
          [routerLinkActive]="['router-link-active']"
          class=" card text-white bg-success border-0 card-guides shadow-sm">
            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>TRANSPORTE</h4>
              <p>TERRESTRE</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-4 col-md-8 mb-5 mb-lg-0">
          <a
          routerLink="/aduanas"
          [routerLinkActive]="['router-link-active']"
            class=" card text-white bg-danger border-0  shadow-sm">
            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4 >ADUANAS</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-8 mb-5 mb-lg-0">
          <a
          routerLink="/almacenaje"
          [routerLinkActive]="['router-link-active']"
           class=" card text-white bg-warning border-0 card-snippets shadow-sm">
            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>ALMACENAJE</h4>
              <p>TERMINALES</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-8 mb-5 mb-lg-0">
          <a   class=" card text-white bg-info border-0 card-guides shadow-sm">
            <div
              class="card-body d-inline-block align-items-end flex-column text-right"
            >
              <h4>SERVICIOS</h4>
              <p>ADICIONALES</p>
            </div>
          </a>
        </div>
      </div>
    </div>
</div>
